#form-area {
    width: 45em;
    border-radius: 10px;
    margin: 60px auto;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: rgba(117, 121, 117, 0.75);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


#login-page-info {
    width: 40%;
}

#form-area #heading {
    font-weight: lighter;
    font-size: 2em;
    background-color: white;
    padding: 0.1em 0.1em 0.1em 0.1em;
    margin-bottom: 30px;
    color: #2e8073;
    text-align: center;
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
}


#form-area input {
    width: 100%;
    margin-bottom: 0.02em;
    font-size: 1.5em;
    border-radius: 0.3em;
    border: 0.05em solid #2e8073;
    padding: 1em;
}

#form-area label {
    color: white;
    font-size: 20px;
}

.center-element {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-text {
    text-align: center;
}

#form-area button {
    text-align: center;
}

#form-area #login-form {
    display: block;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#form-area input:hover, input:active {
    border: 2px solid #09d3ac;
}

#form-area button {
    width: 30%;
    margin-bottom: 0.005em;
    font-size: 30px;
    border-radius: 35px;
    color: #2e8073;
    background-color: white;
    border-color: white;
}

#form-area button:hover {
    color: white;
    border: 2px solid #09d3ac;
    background-color: #09d3ac;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

